*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    
}
.container{
    height: 355px;
    width: 500px;
    background-color: orange;
    text-align: center;
    margin: 50px auto;
    padding-top: 100px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 3px 10px rgb(255, 255, 255);   
}
button{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none; 
}
button:hover{
    background-color: azure;
    color: orange;
}
input{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgb(19, 4, 94);
    box-shadow: 0px 5px 10px rgb(45, 1, 1);

}